<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <script src="{{ asset('build/app.js') }}"></script>
</head>
<title>Test Consumer</title>
<body>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>